@import "../../mixins";

.topBarContainer {
  @include flex(row, space-between, center);
  padding: 12px 104px;
  padding-right: 115px;
  background-color: #ffffff1a;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  .logoContainer {
    z-index: 1;
    .logoWrapper {
      width: 115px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .gradientTopbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .menuIcon {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 1;

    .menuBar1,
    .menuBar2,
    .menuBar3 {
      position: absolute;
      background-color: var(--accentColor);
      height: 2px !important;
      width: 100% !important;
    }

    .menuBar1 {
      top: 4px;
    }
    .menuBar2 {
      bottom: 8px;
    }
    .menuBar3 {
      bottom: 2px;
    }
  }

  .menuContainer {
    z-index: 1;
    ul {
      margin: 0;
      padding: 0;
      @include flex(row, center, center);
      gap: 32px;

      li {
        list-style: none;
        display: flex;
        a,
        .active {
          position: relative;
          display: block;
          transition: 0.5s;
          font-family: var(--secondaryFont);
          font-size: 14px;
          font-weight: 800;
          line-height: 21px;
          transition: transform 0.5s;
        }

        a {
          color: var(--primaryColor);
          &:hover {
            color: var(--accentColor);
          }
        }

        .active {
          color: var(--accentColor);
        }
      }
    }
  }
}
.menuContainerMobile {
  @include flex(column, center, center);

  ul {
    @include flex(column, center, center);
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    width: 100% !important;
    cursor: pointer;
    .active {
      color: #ff0090;
    }

    li {
      width: 100% !important;
      background-color: #000;
      @include flex(row, center, center);
      border-radius: 8px;

      a {
        color: #fff;
        cursor: pointer;
        font-weight: 500;
        padding: 10px;
      }
    }

    li:hover {
      a {
        color: #ff0090;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .topBarContainer {
    padding: 20px;

    .logoContainer {
      .logoWrapper {
        width: 90px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .gradientTopbar {
      height: 200px;
    }

    .menuIcon {
      width: 20px;
      height: 20px;
      display: flex !important;
      z-index: 1;
    }

    .menuContainer {
      display: none;
    }
  }
}
