@import "../../mixins";

.buttonWrapp {
  .custom-button {
    background: var(--accentColor);
    color: var(--primaryColor);
    transition: 0.3s ease;
    @include flex(row, center, center);
    text-transform: uppercase;
  }

  .condensed-button {
    width: 324px;
    font-size: 21px;
  }

  .accent {
    color: var(--accentColor);
  }

  .large {
    border-radius: 107px;
    padding: 10px 32px;

    font-size: 18px;
    font-weight: 700;
  }

  .small {
    border-radius: 66px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
  }
}

.outLine-button {
  background: var(--gradientBorder2);
  border-radius: 107px;
  padding: 3px;
  .custom-button {
    background: var(--backGroundColor);
  }

  .large {
    padding: 4px 32px;
    font-weight: 500;
    line-height: 35px;
  }

  .small {
    padding: 4px 30px;
  }
}

.shadow {
  box-shadow: 0px 4.408163547515869px 4.408163547515869px 0px #00000040;
}

@media (max-width: 767px) {
  .buttonWrapp {
    .condensed-button {
      width: 224px;
    }
    .large {
      border-radius: 107px;
      padding-inline: 20px !important;
      font-size: 14px;
      font-weight: 700;
    }

    .small {
      border-radius: 66px;
      padding: 8px 20px;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .outLine-button {
    background: var(--gradientBorder2);
    border-radius: 107px;
    padding: 3px;
    .custom-button {
      background: var(--backGroundColor);
    }

    .large {
      padding: 6px 32px;
      font-weight: 500;
    }
  }
}
